<div class="container-fluid">
	<div class="row-fluid">
		<div class="selfcare-lp-loginForm">
			<div class="selfcare-headline1 selfcare-titlecase4" data-messageFor="forgotPasswordHeading"><div></div></div>
			<div class="selfcare-inputfield">
				<div class="selfcare-headline4 selfcare-margin" data-messageFor="otpLabel"><div></div></div>
				<div class="selfcare-textbox">
					<input type="number" id="otp" name="otp" placeholder="" value="" />
				</div>
				<div id="userNameMessageBox" data-messageFor="otp" class="selfcare-errorMsg "><div></div></div>
			</div>
			<div class="selfcare-inputfield">
				<div class="selfcare-headline4 selfcare-margin" data-messageFor="newPasswordLabel"><div></div></div>
				<div class="selfcare-textbox">
					<input type="password" id="newpwd" name="newpwd" placeholder="" value="" class="selfcare-textbox"/>
				</div>	
				<div id="passwordMessageBox" data-messageFor="newpwd" class="selfcare-errorMsg "><div></div></div>
			</div>
			
			<div class="selfcare-inputfield">
				<div class="selfcare-headline4 selfcare-margin" data-messageFor="confirmPasswordLabel"><div></div></div>
				<div class="selfcare-textbox">
					<input type="password" id="confirmpwd" name="confirmpwd" placeholder="" value="" />
				</div>
				<div id="confirmpasswordMessageBox" data-messageFor="confirmpwd" class="selfcare-errorMsg "><div></div></div>
			</div>
			<div class="selfcare-inputfield">
			<div class="selfcare-margin"><div href="#" id="resendOtp" class = "selfcare-lable selfcare-bodytext" data-messageFor="resendOtpLink"><div></div></div></div>
			</div>
			<div class="selfcare-lp-Loginimg">
				<a href="pg-login.html" id="reset"><div class="selfcare-headline4 selfcare-lp-Loginimgtext" data-messageFor="resetPasswordLink" ><div></div></div></a>
			</div>
		</div>
	</div>
</div>


