<div class="container-fluid">
	<div class="row-fluid">
		<div class="selfcare-lp-loginForm">
			<div class="selfcare-headline1  selfcare-titlecase">Login</div>
			
			
			
			<div id="loginFailedMessageBox" data-messageFor="loginFailed" class="selfcare-errorMsg"><div></div></div>
			
			
			<div class="selfcare-lp-logintext ">
				<div class="selfcare-headline4 selfcare-margin" data-messageFor="userNameLabel"><div></div></div>
				<div class="selfcare-textbox">
					<input type="text" id="username" name="username" placeholder="" value="" />
				</div>
				<div id="userNameMessageBox" data-messageFor="username" class="selfcare-errorMsg"><div></div></div>
			</div>
			
			<div class="selfcare-lp-logintext">
				<div class="selfcare-headline4 selfcare-margin" data-messageFor="passwordLabel"><div></div></div>
				<div class="selfcare-textbox">
					<input type="password" id="password" name="password" placeholder="" value=""/>
				</div>	
				<div id="passwordMessageBox" data-messageFor="password" class="selfcare-errorMsg "><div></div></div>
			</div>
		
			<div class="selfcare-lp-checkbox">
				<input type="checkbox" id="checkbox" name="checkbox" class="selfcare-checkboximg" checked="checked"><label for="checkbox"></label><span class="selfcare-headline4"  data-messageFor="rememberMeLabel"><span></span></span>
			</div>
			<div class="selfcare-lp-Loginimg">
				<a href="Step1_SU.html" id = "loginIcon"><div class="selfcare-headline4 selfcare-lp-Loginimgtext" data-messageFor="loginLabel"><div></div></div></a>
			</div>
			<div class="selfcare-lp-forgetpassword">
				<div><a href="forgotPassword.html" id="forgotPwdLink" class="selfcare-lable selfcare-bodytext" data-messageFor="forgotPasswordText"></a></div>
				<div class="selfcare-lp-newuser"><a href="#" class="selfcare-lable selfcare-bodytext" id="signupIcon" data-messageFor="newUserText"></a></div>
			</div>
		</div>
	</div>
</div>


