<div  class="selfcare-menubarcontainer">
<div id="selfcare-menubar" class="container-fluid" id="selfcare-menubarcontainer" >
	<div class="searchandmenu">
		<div class="row-fluid">
			<div class="selfcare-ap-logo">
				<div class="selfcare-ap-searchmenu">
					<div class="selfcare-headline4 selfcare-ap-searchbar"></div>
				</div>
				<div class="selfcare-ap-Settingsmenu">
					<div class="selfcare-headline4 selfcare-ap-Settings"></div>
				</div>
				<div class="selfcare-ap-account selfcare-headline3 selfcare-textalignc">Account</div>
				<div class="selfcare-ap-accountname selfcare-subheadline" id="selfcare-accountholdername"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div id="selfcare-ap-menubar" >
		<div class="selfcare-ap-homemenua selfcare-headline4">
			<ul>
				<li class="selfcare-menubar-jioproducts"><a href="#jioproducts">Jio Products</a></li>
				<li class="selfcare-menubar-bestplans"><a href="#bestplans">Best Plans</a></li>
		<li ><a href="#myorder/MyOrderView">My Orders</a></li> 
				<li class="selfcare-menubar-myorders"><a  id = "selfcare-myProfile" href="#">My Profile</a></li>
				<li class="selfcare-menubar-recharge"><a href="#" id="recharge">Recharge</a></li>
				<li class="selfcare-menubar-mycart"><a href="#mycart">My Cart</a></li>
				<li class="selfcare-menubar-mynotification"><a href="#mynotification">My Notification</a></li>
				<!-- <li class="selfcare-menubar-myorder"><a href="#myorder">My Orders</a></li> -->
				<li class="selfcare-menubar-manageservices"><a href="#manageservices" id = "manageServices">Manage Services</a></li>
				<li class="selfcare-menubar-servicerequest"><a href="#servicerequest">Service Request</a></li>
				<li class="selfcare-menubar-relocation"><a href="#relocation">Relocation</a></li>
				<li class="selfcare-menubar-support"><a href="#support"  id = "contactus">Support</a></li>
				<li class="selfcare-menubar-logout" data-messageFor = "loggedStatusLabel"><a href="#" id = "logStatus"><div></div></a></li>
			</ul>
		</div>
	</div>
	<div class="selfcare-inputfield selfcare-acc-search">
		<div class="selfcare-textbox">
			<input type="search" id="search" name="username" class="selfcare-textbox-search"  placeholder="search"/>
		</div>
	</div>
</div>
<div class="selfcare-mainLogo1">
	<div class="selfcare-dropdownlogo" id="bottomlogo"></div>
</div>
</div>
